*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.title {
	margin-bottom: 30px;
	text-transform: uppercase;
}

.group-time .time {
	margin-bottom: 20px;
}

.time {
	display: block;
	text-align: center;
}

.time__item {
	display: inline-block;
	color: #fff;
	font-weight: 100;
	text-align: center;
	font-size: 40px;
	padding: 15px;
	border-radius: 5px;
	background: #00816a;
}

.group-btn .btn {
	margin-left: 10px;
}

.btn {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 15px;
	outline: none;
	cursor: pointer;
}
.btn--primary {
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn--primary:hover {
	background-color: #286090;
	border-color: #204d74;
}

.btn--success {
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn--success:hover {
	background-color: #449d44;
	border-color: #398439;
}

.btn--danger {
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn--danger:hover {
	background-color: #c9302c;
	border-color: #ac2925;
}

.btn--info {
	background-color: #5bc0de;
	border-color: #46b8da;
}

.btn--info:hover {
	background-color: #31b0d5;
	border-color: #269abc;
}
