*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

.list {
	margin: 0;
}

.list__item {
	padding: 10px;
}

